@import "tailwindcss";
@plugin "daisyui" {
  themes: dracula,winter,dark,luxury;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
