@import "tailwindcss";
@plugin "daisyui" {
  themes: dracula,winter,dark;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-5 lg:px-1;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
